// contact form 7 styling
$cf7-success-color: #FFF;
$cf7-success-background: #67bd57;
$cf7-submit-color: #FFF;

.wpcf7-form {
     textarea {
        height: 200px;
        background-color: white;
    }
    input.wpcf7-form-control.wpcf7-submit {
      padding: 18px;
      border: 0px;
      border: none;
      border-radius: 3px;
      text-transform: uppercase;
      font-weight: bold;
      color: $cf7-submit-color;
    }
    input[type="tel"]{
       width: 200px;
    }
    p {
      margin-bottom: 15px;
    }
}
.wpcf7 .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
	color: $cf7-success-color;
	background-color: $cf7-success-background;
	font-weight: bold;
}
