/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:

// special colors
$cf7-success-color: #000;
$cf7-success-background: #57f14e;
/* ----------- end Colors ----------- */
